/* line 1, E:/yadisk/web-dev/swipeslider/style.scss */
* {
  box-sizing: border-box;
  font-family: sans-serif; }

/* line 6, E:/yadisk/web-dev/swipeslider/style.scss */
html, body {
  height: 100%; }

/* line 10, E:/yadisk/web-dev/swipeslider/style.scss */
body {
  margin: 0 auto;
  background-color: #383843;
  max-width: 650px;
  color: #fff8eb; }

/* line 16, E:/yadisk/web-dev/swipeslider/style.scss */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #fff9f0;
  text-shadow: 1px 2px 5px black; }

/* line 21, E:/yadisk/web-dev/swipeslider/style.scss */
h1 {
  font-size: 50px; }

/* line 25, E:/yadisk/web-dev/swipeslider/style.scss */
h2 {
  margin-top: 80px; }

/* line 30, E:/yadisk/web-dev/swipeslider/style.scss */
a:link {
  color: #fff0d5; }

/* line 33, E:/yadisk/web-dev/swipeslider/style.scss */
a:hover {
  color: #aaa3fc; }

/* line 36, E:/yadisk/web-dev/swipeslider/style.scss */
a:active {
  color: #9289ff; }

/* line 39, E:/yadisk/web-dev/swipeslider/style.scss */
a:visited {
  color: #fff0d5; }

/* line 44, E:/yadisk/web-dev/swipeslider/style.scss */
.swipslider {
  margin: 50px auto 0; }

/* line 51, E:/yadisk/web-dev/swipeslider/style.scss */
#content_slider {
  background-color: #f0f0f0; }
  /* line 55, E:/yadisk/web-dev/swipeslider/style.scss */
  #content_slider .wanted {
    padding: 25px; }
    /* line 57, E:/yadisk/web-dev/swipeslider/style.scss */
    #content_slider .wanted:after {
      display: table;
      content: "";
      clear: both; }
    /* line 63, E:/yadisk/web-dev/swipeslider/style.scss */
    #content_slider .wanted img {
      float: left;
      position: relative;
      height: 225px;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.33);
      margin-right: 15px; }
    /* line 71, E:/yadisk/web-dev/swipeslider/style.scss */
    #content_slider .wanted .description {
      float: left;
      padding: 10px;
      display: block;
      font-size: 16px;
      color: #343332;
      background: #e5e5e5;
      height: 225px;
      width: 349px;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.58);
      white-space: normal; }
      /* line 83, E:/yadisk/web-dev/swipeslider/style.scss */
      #content_slider .wanted .description h1 {
        font-size: 18px;
        margin: 0;
        text-align: left;
        color: #515f6c;
        text-shadow: none; }
      /* line 91, E:/yadisk/web-dev/swipeslider/style.scss */
      #content_slider .wanted .description::after {
        display: table;
        content: "";
        clear: both; }
      /* line 97, E:/yadisk/web-dev/swipeslider/style.scss */
      #content_slider .wanted .description p {
        margin-bottom: 1px;
        margin-top: 6px;
        font-size: 14px; }
      /* line 103, E:/yadisk/web-dev/swipeslider/style.scss */
      #content_slider .wanted .description p.award {
        color: #be9a02; }
      /* line 107, E:/yadisk/web-dev/swipeslider/style.scss */
      #content_slider .wanted .description ul {
        list-style: square;
        padding-left: 20px;
        font-size: 14px; }
      /* line 113, E:/yadisk/web-dev/swipeslider/style.scss */
      #content_slider .wanted .description strong {
        color: #515f6c; }

/* line 122, E:/yadisk/web-dev/swipeslider/style.scss */
#responsiveness {
  background-color: #242424; }

/* line 127, E:/yadisk/web-dev/swipeslider/style.scss */
#customizability .swipslider-next-prev {
  width: 120px;
  height: 60px;
  background-color: rgba(82, 82, 82, 0);
  color: rgba(255, 254, 235, 0.28);
  border-radius: 3px;
  font-size: 25px; }
  /* line 135, E:/yadisk/web-dev/swipeslider/style.scss */
  #customizability .swipslider-next-prev:hover {
    color: #fffeeb;
    background-color: #525252;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.57); }

/* line 142, E:/yadisk/web-dev/swipeslider/style.scss */
#customizability .swipslider-prev {
  left: 0%; }
  /* line 145, E:/yadisk/web-dev/swipeslider/style.scss */
  #customizability .swipslider-prev::after {
    line-height: 60px;
    content: '< back'; }

/* line 151, E:/yadisk/web-dev/swipeslider/style.scss */
#customizability .swipslider-next {
  right: 0%; }
  /* line 154, E:/yadisk/web-dev/swipeslider/style.scss */
  #customizability .swipslider-next::after {
    line-height: 60px;
    content: 'next >'; }

/* line 160, E:/yadisk/web-dev/swipeslider/style.scss */
#customizability .swipslider-bullet {
  top: 4%; }
  /* line 163, E:/yadisk/web-dev/swipeslider/style.scss */
  #customizability .swipslider-bullet li {
    width: 10px;
    height: 5px;
    background-color: rgba(255, 254, 235, 0.28);
    border-radius: 0;
    vertical-align: middle; }
    /* line 170, E:/yadisk/web-dev/swipeslider/style.scss */
    #customizability .swipslider-bullet li.active {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 10px solid #fffeeb;
      background-color: transparent;
      width: 0;
      height: 0;
      vertical-align: bottom; }
    /* line 181, E:/yadisk/web-dev/swipeslider/style.scss */
    #customizability .swipslider-bullet li:hover {
      height: 10px;
      background-color: #fffeeb; }

/* line 190, E:/yadisk/web-dev/swipeslider/style.scss */
.slide-number {
  font-size: 60px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.54); }

/* line 201, E:/yadisk/web-dev/swipeslider/style.scss */
footer {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  color: #7d7e76; }

/*# sourceMappingURL=style.css.map */