/* line 6, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
.swipslider {
  position: relative;
  overflow: hidden;
  display: block; }
  /* line 11, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
  .swipslider .slides {
    display: block;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    transform: translateX(0);
    position: relative; }
  /* line 23, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
  .swipslider .slide {
    width: 100%;
    height: 100%;
    margin: auto;
    display: inline-block;
    position: relative; }
    /* line 30, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
    .swipslider .slide img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      max-height: 100%;
      max-width: 100%;
      margin: auto; }
    /* line 41, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
    .swipslider .slide .content {
      width: 100%;
      height: 100%;
      margin-left: 0;
      margin-right: 0;
      font-size: 14px; }
      /* line 48, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
      .swipslider .slide .content img {
        position: static;
        top: auto;
        bottom: auto;
        left: auto;
        bottom: auto; }

/* line 59, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
.swipslider-next-prev {
  font-family: "Courier New", Courier, monospace;
  height: 50px;
  width: 50px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  line-height: 50px;
  font-size: 30px;
  font-weight: bolder;
  color: rgba(160, 160, 160, 0.53);
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  cursor: pointer; }
  /* line 79, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
  .swipslider-next-prev:hover {
    background-color: rgba(255, 255, 255, 0.74); }
  /* line 83, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
  .swipslider-next-prev:active {
    background-color: rgba(255, 255, 255, 0.5); }

/* line 88, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
.swipslider-prev {
  left: 2%; }

/* line 92, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
.swipslider-next {
  right: 2%; }

/* line 96, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
.swipslider-bullet {
  position: absolute;
  bottom: 2%;
  list-style: none;
  display: block;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0; }
  /* line 105, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
  .swipslider-bullet li {
    width: 10px;
    height: 10px;
    background-color: rgba(160, 160, 160, 0.53);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out; }
    /* line 115, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
    .swipslider-bullet li:hover {
      background-color: rgba(255, 255, 255, 0.74); }
    /* line 119, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
    .swipslider-bullet li.active {
      background-color: rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 2px rgba(160, 160, 160, 0.53); }
    /* line 124, E:/OneDrive/My Files/webdev/image-slider/swipeslider.scss */
    .swipslider-bullet li:not(:last-child) {
      margin-right: 5px; }

/*# sourceMappingURL=swipeslider.css.map */